h1{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border-style: dashed;
    border-width: 3.5px;
    border-radius: 25px;
}
h3{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white
}
body{
    background-color: rgb(4, 4, 4);
}
img{
    border-style:dashed;
    border-width: 3.5px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
}